@page
@model Projekt_Esti_Frederik.Pages.Classes.ClassesModel
@{
}

<h2>Classes Page</h2>

<table class="table">
    <thead>
        <tr>
            <th>Class name</th>            
        </tr>
    </thead>
</table>