@page
@model Projekt_Esti_Frederik.Pages.Classes.ClassesModel
@{
}

<h2>Classes Page</h2>

<table class="table">
    <thead>
        <tr>
            <th>Class id</th>
            <th>Class name</th>            
        </tr>
    </thead>

    <tbody>

        @if (Model != null)
        {
            @foreach (var item in Model.classService)
            {
                <tr>
                    <td> @item.ClassId </td>
                    <td> @item.ClassName </td>
                    <td>
                        <p>
                            <a asp-page="/Exams/Exams" asp-route-classid="@item.ClassId">Show exams</a>
                        </p>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
