@page
@model Projekt_Esti_Frederik.Pages.Classes.CreateClassModel
@{
    ViewData["Title"] = "Create Class Page";
}

<h1 class="fw-bold text-center py-4 mb-4" style="font-size: 35px; color: #2a2a2a;">
    <i class="bi bi-easel3-fill me-2"></i> Create Class 
</h1>
