@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center my-5 " style="font-family: Calibri">
    <h1 class="display-4">Welcome to the Exam Schedule Page</h1>
</div>
</br>

<div class="text-center my-5 ">
    <img src="~/modern dashboard-sty.png" alt="Exam Schedule Header" class="img-fluid mx-auto d-block" style="max-width: 1100px;" />
</div>