@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center my-4 " style="font-family: Calibri">
    <h1 class="display-4">Welcome to Exam Schedule and planning Page</h1>
</div>

<div class="text-center">
    <img src="~/chatgpt image dec 16, 2025, 01_36_44 pm.png" alt="Exam Schedule Header" class="img-fluid mx-auto d-block" style="max-width: 700px;" />
</div>
