@page
@model Projekt_Esti_Frederik.Pages.Teachers.CreateTeacherModel
@{
    ViewData["Title"] = "Add teacher";
}

<h1 class="fw-bold text-center py-4 mb-4" style="font-size: 35px; color: #2a2a2a;">
    <i class="bi bi-person-plus me-2"></i> Add Teacher
</h1>

