@page
@model Projekt_Esti_Frederik.Pages.Teachers.TeacherDesignationModel
@{
    ViewData["Title"] = "Teacher designation";
}

<h1 class="fw-bold text-center py-4 mb-4" style="font-size: 35px; color: #2a2a2a;">
    <i class="bi bi-pencil-square me-2"></i> Teacher designation
</h1>

<div class="row gy-4">
   
    @if (Model != null)
    {
        @foreach (Models.Teacher item in Model.teachers)
        {
            <div class="col-md-6">
                <div class="teacher-card shadow-sm">

                    <h5 class="fw-bold mb-3" style="color: #000;">
                            @item.FirstName
                            @item.LastName
                    </h5>

                    <div class="mb-2 d-flex" style="color: #3a3a3a;">
                        <div class="fw-bold me-2" style="min-width: 140px;">Initials:</div>
                        <div class="fw-bold">@item.Initials</div>
                    </div>

                    <div class="mb-4 d-flex" style="color: #3a3a3a;">
                        <div class="fw-bold me-2" style="min-width: 140px;">Email:</div>
                        <div class="fw-bold">@item.Email</div>
                    </div>                    
                               
                 <form method="post">
                    <div>
                        <button asp-route-TypeId="1" asp-route-teacherId=@item.TeacherId asp-route-examId=@Model.examId type="submit" class="btn btn-primary btn-sm text-white exam-btn me-2"
                                style="background-color:#4a90e2; border-color:#4a90e2;"> Examiner
                        </button>
                    </div>

                    <div>
                        <button asp-route-TypeId="2" asp-route-teacherId=@item.TeacherId asp-route-examId=@Model.examId type="submit" class="btn btn-primary btn-sm text-white exam-btn me-2"
                            style="background-color:#4a90e2; border-color:#4a90e2;"> Internal censor
                        </button>
                    </div>
                 </form>
                </div>
            </div>
        }
     }   
</div>