@page
@model Projekt_Esti_Frederik.Pages.Teachers.TeatcherModel
@{
}

<h2>Teacher Page</h2>

<table class="table">
    <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Initials</th>
            <th>Email</th>
        </tr>
    </thead>
</table>